body
  width: 600px
  margin: 60px auto
label
  margin-right: 16px
#pwdCount
  color: #ccc
  margin: 8px 240px 0 154px
  text-align: right
#pwdChar
  position: absolute
  display: block
  width: 22px
  height: 22px
  padding-top: 4px
  border-radius: 4px
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.12, #FFFFFF), color-stop(0.86, #EBEBEB))
  background-color: #eee
  border: 2px solid #0af
  text-align: center
  color: #666
  font-size: 20px
  text-shadow: 0 1px 0 #fff
  &:after
    content: ""
    border-color: #0af transparent transparent transparent
    border-style: solid
    border-width: 5px
    height: 0
    width: 0
    position: absolute
    bottom: -12px
    left: 6px